@model IEnumerable<Academy.Models.Category>

@{
    ViewData["Title"] = "Index";
}
<div class="row g-3">
    <div class="col-lg-7 col-md-6">
        <div class="row g-3">
            <h2>Category</h2>
            @foreach (var item in Model)
            {   <a href="/Courses/CourseCat/@item.CategoryId">
                    <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: zoomIn;">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="@item.Image" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0">@item.CategoryName</h5>
                                <small class="text-primary">49 Courses</small>
                            </div>
                        </a>
                    </div>
                </a>
                <a href="/Courses/CourseCat/@item.CategoryId" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">More Course...</a>
            }
        </div>
    </div>



</div>